<!-- ***************** -->
<!-- КАРТОЧКИ КОНКРЕТНОГО РЕСУРСА -->
<!-- ***************** -->

{% extends "base.twig" %}

{% block rows %}

    <div class="col-sm-5">
        <h5>Ресурс для:</h5>

        {% for val in sortrastenie %}
                {% if val.id_SortRastenie == resurs.id_Resurs %}
                    <p> {{ val.SortRastenieName }}</p>
                {% endif %}
        {% endfor %}

        {% for val in porodazver %}
            {% if val.id_PorodaZver == resurs.id_PorodaZver %}
                <p> {{ val.PorodaZverName }}</p>
            {% endif %}
        {% endfor %}

    </div>

    <div class="col-sm-5">
        <div class="dropdown">
            <button class="dropbtn">{{ resurs.NameResurs }}</button>
            <div class="dropdown-content">
                <a href="/resursspisok/">Вернуться</a>
            </div>
        </div>
    </div>

    <div class="row">

    <!-- Навигация по видам ресурсов -->

    <!-- Таблица ресурсов -->
    <div class="col-sm-12 text-left">

        <div class="col-sm-3">
            <!--Добавление нового приход-->
            <form method="POST" action="/resursspiisok/{{ resurs.id_Resurs }}" class="form-inline">
                <fieldset>

                    <div class="form-group">
                        <label for="selectPoroda">Порода животного</label>
                        <select required name="id_PorodaZver" class="form-control" id="selectPoroda">
                            <option value=" ">
                                -- Нет --
                            </option>
                            {% for val in porodazver %}
                                <option value="{{ val.id_PorodaZver }}">{{ val.PorodaZverName }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="inputCena">Норма ресурса (животного)</label>
                        <input input name="NormaResurs" type="text" class="form-control" id="inputCena"
                               aria-describedby="PostHelp" placeholder="24" value="{{ resurs.NormaResurs }}">
                    </div>
                    <div class="form-group">
                        <label for="selectSort">Вид растения</label>
                        <select required name="id_SortRastenie" class="form-control" id="selectSort">
                            <option value=" ">
                                -- Нет --
                            </option>
                            {% for val in sortrastenie %}
                                <option value="{{ val.id_SortRastenie }}">{{ val.SortRastenieName }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <!--div class="form-group">
                        <label for="inputCena">Норма ресурса (растения)</label>
                        <input input name="NormaResurs" type="text" class="form-control" id="inputCena"
                               aria-describedby="PostHelp" placeholder="24" value="{{ resurs.NormaResurs }}">
                    </div-->

                    </br></br>
                    <button type="submit" class="btn btn-primary" name="id_Resurs" value="{{ resurs.id_Resurs }}">
                        Добавить
                    </button>
                </fieldset>
            </form>

        </div>
        <!-- Ряды таблиц -->
        <!--Таблица пополнения ресурсов-->
        <div class="col-sm-6">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ПРИХОД</th>
                </tr>
                <tr>
                    <th scope="col">Норма</th>
                    <th scope="col">Ед. изм.</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Дата пополнения</th>
                    <th scope="col">Цена (руб.)</th>
                </tr>
                </thead>
                <tbody>
                {% for index, val in prihodresurs %}
                    <tr>

                        {% if val.id_Resurs == resurs.id_Resurs %}
                            <td>{{ resurs.NormaResurs }}</td>
                            <td>{{ resurs.EdIzmResurs }}</td>
                            <td>{{ val.KolvoResurs }}</td>
                            <td>{{ val.DatePopolnResurs|date('d.m.Y', false) }}</td>
                            <td>{{ val.CenaResurs }}</td>

                            <td>
                            <th>
                                <!--Удалить информацию о ресурсе-->
                                <form method="POST" action="/resursspisokk/{{ val.id_PrihodResurs }}">
                                    <button type="submit" class="btn btn-danger" aria-label="Delete">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </th>
                            <th>
                                <!--Редактирование информации о ресурсе-->
                                <a href="/resursspisokk/{{ val.id_PrihodResurs }}/edit">
                                    <button type="button" class="btn btn-default" aria-label="Edit">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </th>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!--Добавление нового приход-->
            <form method="POST" action="/resursspisokk/" class="form-inline">
                <fieldset>
                    <div class="form-group">
                        <input name="CenaResurs" placeholder="Стоимость" class="form-control">
                    </div>
                    <div class="form-group">
                        <input name="KolvoResurs" placeholder="Количество" class="form-control">
                    </div>
                    <div class="form-group">
                        <input input name="DatePopolnResurs" id="date" google="true" type="date">
                    </div>
                    </br></br>
                    <button type="submit" class="btn btn-primary" name="id_Resurs" value="{{ resurs.id_Resurs }}">
                        Добавить
                    </button>
                </fieldset>
            </form>
        </div>

        <!--Таблица расходов ресурсов-->
        <div class="col-sm-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">РАСХОД</th>
                </tr>
                <tr>
                    <th scope="col">Дата изъятия</th>
                    <th scope="col">Количество</th>
                </tr>
                </thead>
                <tbody>
                {% for val in rashodresurs %}
                    <tr>

                        {% if val.id_Resurs == resurs.id_Resurs %}
                            <td>{{ val.DateIzyatResurs|date('d.m.Y', false) }}</td>
                            <td>{{ val.KolvoResurs }}</td>
                            <th>
                                <!--Удалить информацию о ресурсе-->
                                <form method="POST" action="/resursspisok/{{ val.id_RashodResurs }}">
                                    <button type="submit" class="btn btn-danger" aria-label="Delete">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </th>
                            <th>
                                <!--Редактирование информации о ресурсе-->
                                <a href="/resursspisok/{{ val.id_RashodResurs }}/edit">
                                    <button type="button" class="btn btn-default" aria-label="Edit">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </th>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!--Добавление нового расхода-->
            <form method="POST" action="/resursspisok/" class="form-inline">
                <fieldset>
                    <div class="form-group">
                        <input name="KolvoResurs" placeholder="Количество" class="form-control">
                    </div>
                    <div class="form-group">
                        <input input name="DateIzyatResurs" id="date" google="true" type="date">
                    </div>
                    </br></br>
                    <button type="submit" class="btn btn-primary" name="id_Resurs" value="{{ resurs.id_Resurs }}">
                        Добавить
                    </button>
                </fieldset>
            </form>

        </div>
    </div>
    </div>

{% endblock %}