<!-- ***************** -->
<!-- КАРТОЧКА КОНКРЕТНОГО РАСТЕНИЯ -->
<!-- ***************** -->

{% extends "base.twig" %}

{% block rows %}

    <div class="row">
        <div class="col-sm-5">
            <div class="thumbnail">
                <div class="caption">
                    {% for key in sortrastenie %}
                        {% if key.id_SortRastenie == rastenie.id_SortRastenie %}
                            {% for val in typerastenie %}
                                {% if val.id_TypeRastenie == key.id_TypeRastenie %}
                                    <h1>{{ val.TypeRastenieName }}</h1>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Фото растения -->
                <img src="/image/plants/{{ rastenie.PhotoRastenie }}" alt="picture.jpg">
            </div>

            <!-- Редактировать растение -->
            <div class="col-sm-1 text-left">
                <a href="/rasteniespisok/{{ rastenie.id_Rastenie }}/edit">
                    <button type="button" class="btn btn-default" aria-label="Edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </a>
            </div>

            <!-- Удалить растение -->
            <div class="col-sm-3 text-right">
                <form method="POST" action="/rasteniespisok/{{ rastenie.id_Rastenie }}" class="form-inline">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger" aria-label="Delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="thumbnail">

                <div class="caption">
                    {% for val in sortrastenie %}
                        {% if val.id_SortRastenie == rastenie.id_SortRastenie %}
                            <h4><strong>Сорт растения:</strong> {{ val.SortRastenieName }}</h4>
                        {% endif %}
                    {% endfor %}
                    <h4><strong>Дата высадки:</strong> {{ rastenie.DateVisadkaRastenie|date('d.m.Y', false) }}</h4>
                    <h4><strong>Окраска плодов:</strong> {{ rastenie.ColorRastenie }}</h4>
                    <h4><strong>Количество высаженных растений:</strong> {{ rastenie.KolvoRastenie }}</h4>
                    <h4><strong>Отметка эффективности (%):</strong> {{ rastenie.EffectiveProcentRastenie }}</h4>
                    <h4><strong>Цена (руб.):</strong> {{ rastenie.CenaRastenie }}</h4>
                    <p><strong>Комментарий:</strong> {{ rastenie.CommentRastenie }}</p>
                </div>

            </div>
        </div>
    </div>

    </br></br>

    <!--Таблица дезинфекция растения-->
    <div class="col-sm-12">
        <h3 style="text-align: center">ДЕЗИНФЕКЦИЯ РАСТЕНИЯ</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Дезинфекция</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Цена (руб.)</th>
            </tr>
            </thead>
            <tbody>
            {% for val in dezobsluzh %}
                <tr>

                    {% if val.id_Rastenie == rastenie.id_Rastenie %}

                        <td>{{ val.Dezinfekcia }}</td>
                        <td>{{ val.DateStartDez|date('d.m.Y', false) }}</td>
                        <td>{{ val.DateEndDez|date('d.m.Y', false) }}</td>
                        <td>{{ val.CenaDez }}</td>

                        <th>
                            <!--Удалить информацию о дезинфекции растения-->
                            <form method="POST" action="/rasteniedez/{{ val.id_DezObsluzh }}">
                                <button type="submit" class="btn btn-danger" aria-label="Delete">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </form>
                        </th>
                        <th>
                            <!--Редактирование информации о дезинфекции растения-->
                            <a href="/rasteniedez/{{ val.id_DezObsluzh }}/edit">
                                <button type="button" class="btn btn-default" aria-label="Edit">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </a>
                        </th>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="col-sm-12">
            <!--Добавление нового дезинфекция растения-->
            <form method="POST" action="/rrasteniedez/" class="form-inline">
                <fieldset>
                    <div class="form-group">
                        <input name="Dezinfekcia" placeholder="Дезинфекция" class="form-control">
                    </div>
                    <div class="form-group">
                        <input input name="DateStartDez" id="date" google="true" type="date">
                    </div>
                    <div class="form-group">
                        <input input name="DateEndDez" id="date" google="true" type="date">
                    </div>
                    <div class="form-group">
                        <input name="CenaDez" placeholder="2000 рублей" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary" name="id_Rastenie" value="{{ rastenie.id_Rastenie }}">
                        Добавить
                    </button>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}