<!-- ***************** -->
<!-- КАРТОЧКИ РЕСУРСА -->
<!-- ***************** -->

{% extends "base.twig" %}

{% block rows %}

    <div class="col-sm-5">
	
        <h5>РЕСУРСЫ ФЕРМЫ
		
		<a href="/addresurs/"> <button type="button" class="btn btn-primary">Добавить ресурс</button> </a>
		</br></h5>
		
    </div>
    <div class="col-sm-5">
        <div class="dropdown">
            <button class="dropbtn">ВЫБРАТЬ РЕСУРС</button>
            <div class="dropdown-content">
                {% for cresurs in resurs %}
                    <a href="/resursspisok/{{ cresurs.id_Resurs }}"
                       id="cresurs-{{ cresurs.id_Resurs }}">{{ cresurs.NameResurs }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">

    <!-- Навигация по видам ресурсов -->

    <!-- Таблица ресурсов -->
    <div class="col-sm-12 text-left">
        <!-- Ряды таблиц -->
        <!--Таблица пополнения ресурсов-->
        <div class="col-sm-7">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Норма</th>
                    <th scope="col">Единица измерения</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Дата пополнения</th>
                    <th scope="col">Цена (руб.)</th>
                </tr>
                </thead>
                <tbody>
                {% for cresurs in resurs %}
                    {% for val in prihodresurs %}
                        <tr>
                            {% if val.id_Resurs == cresurs.id_Resurs %}
                                <td>{{ cresurs.NormaResurs }}</td>
                                <td>{{ cresurs.EdIzmResurs }}</td>
                                <td>{{ val.KolvoResurs }}</td>
                                <td>{{ val.DatePopolnResurs|date('d.m.Y', false) }}</td>
                                <td>{{ val.CenaResurs }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!--Таблица расходов ресурсов-->
        <div class="col-sm-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Дата изъятия</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Единица измерения</th>
                </tr>
                </thead>
                <tbody>
                {% for cresurs in resurs %}
                    {% for val in rashodresurs %}
                        <tr>
                            {% if val.id_Resurs == cresurs.id_Resurs %}
                                <td>{{ val.DateIzyatResurs|date('d.m.Y', false) }}</td>
                                <td>{{ val.KolvoResurs }}</td>
                                <td>{{ cresurs.EdIzmResurs }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}