<!-- ***************** -->
<!-- КАРТОЧКА ЖИВОТНОГО -->
<!-- ***************** -->

{% extends "base.twig" %}

{% block rows %}

    <!--input id="spterm" type="text" name="spterm" placeholder="Что искать?"><br/>
    <div id="spresult">&nbsp;</div>
    <div id="content"-->
    <div class="row">
        <div class="col-sm-5">
            <div class="thumbnail">
                <div class="caption">
                    <h1>{{ zver.NameZver }}</h1>
                </div>
                <!-- Фото животное -->
                <img src="/image/animals/{{ zver.PhotoZver }}" alt="">
            </div>

            <!-- Редактировать животное -->
            <div class="col-sm-1 text-left">
                <a href="/zverspisok/{{ zver.id_Zver }}/edit">
                    <button type="button" class="btn btn-default" aria-label="Edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </a>
            </div>

            <!-- Удалить животного -->
            <div class="col-sm-3 text-right">
                <form method="POST" action="/zver/{{ zver.id_Zver }}" class="form-inline">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger" aria-label="Delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="thumbnail">

                <div class="caption">
                    {% for val in porodazver %}
                        {% if val.id_PorodaZver == zver.id_PorodaZver %}
                            <h4><strong>Порода животного:</strong> {{ val.PorodaZverName }}</h4>
                        {% endif %}
                    {% endfor %}

                    {% for key in porodazver %}
                        {% if key.id_PorodaZver == zver.id_PorodaZver %}
                            {% for val in typezver %}
                                {% if val.id_TypeZver == key.id_TypeZver %}
                                    <h4><strong>Вид животного:</strong> {{ val.TypeZverName }}</h4>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    <h4><strong>Дата рождения:</strong> {{ zver.DateBirthday|date('d.m.Y', false) }}</h4>
                    <h4><strong>Пол:</strong> {{ zver.SexZver }}</h4>
                    <h4><strong>Расцветка:</strong> {{ zver.ColorZver }}</h4>
                    <h4><strong>Вес:</strong> {{ zver.VesZver }}</h4>
                    <h4><strong>Отметка эффективности (%):</strong> {{ zver.EffectiveProcentZver }}</h4>
                    <h4><strong>Цена (руб.):</strong> {{ zver.CenaZver }}</h4>
                    <p><strong>Комментарий:</strong> {{ zver.CommentZver }}</p>
                </div>

            </div>
        </div>
    </div>
    </br></br>

    <!--Таблица ветеринарного обслуживания животного-->
    <div class="col-sm-12">
        <h3 style="text-align: center">ВЕТЕРИНАРНОГО ОБСЛУЖИВАНИЕ ЖИВОТНОГО</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Ветеринарная услуга</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Цена (руб.)</th>
            </tr>
            </thead>
            <tbody>
            {% for val in vetobsluj %}
                <tr>

                    {% if val.id_Zver == zver.id_Zver %}

                        <td>{{ val.UslugaVet }}</td>
                        <td>{{ val.DateStartVet|date('d.m.Y', false) }}</td>
                        <td>{{ val.DateEndVet|date('d.m.Y', false) }}</td>
                        <td>{{ val.CenaVet }}</td>

                        <th>
                            <!--Удалить информацию о ветеринарном обслуживании животного-->
                            <form method="POST" action="/zververt/{{ val.id_VetObsluj }}">
                                <button type="submit" class="btn btn-danger" aria-label="Delete">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </form>
                        </th>
                        <th>
                            <!--Редактирование информации о ветеринарном обслуживании животного-->
                            <a href="/zververt/{{ val.id_VetObsluj }}/edit">
                                <button type="button" class="btn btn-default" aria-label="Edit">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </a>
                        </th>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="col-sm-12">
            <!--Добавление нового ветеринарной услуги-->
            <form method="POST" action="/zzverspisok/" class="form-inline">
                <fieldset>
                    <div class="form-group">
                        <input name="UslugaVet" placeholder="Ветеринарная услуга" class="form-control">
                    </div>
                    <div class="form-group">
                        <input input name="DateStartVet" id="date" google="true" type="date">
                    </div>
                    <div class="form-group">
                        <input input name="DateEndVet" id="date" google="true" type="date">
                    </div>
                    <div class="form-group">
                        <input name="CenaVet" placeholder="2000 рублей" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary" name="id_Zver" value="{{ zver.id_Zver }}">
                        Добавить
                    </button>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}